<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .table {
        width:100%;
        border-collapse: collapse;
    }

    .addresses {
        width: 100%;
    }

    .addresses td {
        width: 50%;
    }

    .table td, .table th {
        padding: 0.75rem;
        vertical-align: top;
        text-align: left;
        border-top: 1px solid #dee2e6;
    }

    thead, thead th {
        background-color: #eaeaea;
    }
    </style>
</head>
<body>
    {% embed "@TigrisBase/decorators/_card.html.twig" %}
        {% block header %}
            <div class="">
                <div>
                {{ entity.name }}
                </div>
                <div>
                {{ entity.numberStr }}
                </div>
            </div>
        {% endblock %}

        {% block body %}
            <div>{{ entity.createdAt|format_datetime('full', 'short') }}</div>
            <hr/>
            <table class="addresses">
                <tr>
                    <td >
                    {{ entity.vendorAddress|raw }}
                    </td>
                    <td  style="text-align:right">
                    {{ entity.billingAddress|raw }}
                    </td>
                </tr>
            </table>
            <hr/>

            <h2>{{ 'invoice.details'|trans }}</h2>
            {{ 'invoice.number'|trans }}: {{ entity.numberStr }}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'invoice.item.designation'|trans }}</th>
                        <th>{{ 'invoice.item.amount_et'|trans }}</th>
                        <th>{{ 'invoice.item.tax'|trans }}</th>
                        <th>{{ 'invoice.item.amount_it'|trans }}</th>
                        <th>{{ 'invoice.item.quantity'|trans }}</th>
                        <th>{{ 'invoice.item.total'|trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in entity.items %}
                    <tr>
                        <td>{{ item.designation }}</td>
                        <td>{{ item.amountET|format_currency('EUR') }}</td>
                        <td>{% if item.taxes is defined %}{% for name, tax in item.taxes %}
                        {{ name }} {{ tax }}%<br/>
                        {% endfor %}{% endif %}
                        </td>
                        <td>
                        {% if item.amountIT is defined %}
                        {{ item.amountIT|format_currency('EUR') }}
                        {% else %}
                        {{ item.amountET|format_currency('EUR') }}
                        {% endif %}
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>
                        {% if item.amountIT is defined %}
                        {{ (item.quantity * item.amountIT)|format_currency('EUR') }}
                        {% else %}
                        {{ (item.quantity * item.amountET)|format_currency('EUR') }}
                        {% endif %}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" style="text-align: right">{{ 'invoice.totalET'|trans }}</td>
                        <td><strong>{{ entity.amountET|format_currency('EUR') }}</strong></td>
                    </tr>
                    {% for name, value in entity.taxAmount %}
                    <tr>
                        <td colspan="5" style="text-align: right">{{ name }}</td>
                        <td>
                            {{ value|format_currency('EUR') }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" style="text-align: right"><strong>{{ 'invoice.total'|trans }}</strong></td>
                        <td><strong>{{ entity.amountIT|format_currency('EUR') }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endblock %}
    {% endembed %}
</body>
</html>