<script>
export default {
    delimiters: ['${', '}'],
    props: {
        dataItems: {
            type: Array,
            require: false,
            default: [],
        },
        dataDiscount: {
            type: Number,
            required: false,
            default: 0,
        },
        dataDiscountType: {
            type: String,
            required: false,
            default: 'percent',
        },
    },

    data(){
        return {
            items: [],
            item: {amountET: 1.00, description:"", quantity:1},
            total: 0,
            subTotal: 0,
            discount: 0,
            discountType: 'percent',
            discountValue: 0,
        };
    },

    created() {
        this.$data.items = this.$props.dataItems;
        this.$data.discount = parseFloat(this.$props.dataDiscount);
        this.$data.discountType = this.$props.dataDiscountType;
        this.calcTotals();
    },

    methods: {
        addItem() {
            this.items.push(Object.assign({}, this.item));
        },

        removeItem(id) {
            this.items.splice(id, 1);
        },

        getJson() {
            return JSON.parse(JSON.stringify(this.items, true));
        },

        calcTotals() {
            var total = 0;
            for (var i = this.items.length - 1; i >= 0; i--) {
                total += (this.items[i].amountET * this.items[i].quantity);
            }
            this.subTotal = total;
            
            if (this.discountType == 'percent') {
                this.discountValue = (total * this.discount) / 100;
            } else {
                this.discountValue = this.discount;
            }

            this.total = this.subTotal - this.discountValue;
        }
    },

    filters: {
        formatNumber: (value, precision) =>{
            precision = typeof(precision) == 'undefined' ? 0 : 2

            return parseFloat(value).toFixed(precision);
        }
    },

    watch: {
        items: {
            handler() {
                this.calcTotals();
            },
            deep: true
        },

        discount: {
            handler() {
                this.calcTotals();
            }
        },

        discountType: {
            handler() {
                this.calcTotals();
            }
        },
    },
}
</script>

<template>
    <slot :addItem="addItem" :removeItem="removeItem" :calcTotals="calcTotals" :items="items" :item="item" :total="total" :subTotal="subTotal" :getJson="getJson" :discountValue="discountValue"></slot>
    
</template>