<tigris-invoice-editor :data-items="{% if entity.items is not empty %}{{ entity.items|jsonEncode }}{% else %}[]{% endif %}" :data-discount="{% if entity.discount is not empty %}{{ entity.discount }}{% else %}0{% endif %}" data-discount-type="{% if entity.discountType is not empty %}{{ entity.discountType }}{% else %}percent{% endif %}" v-slot="{items, item, addItem, getJson, removeItem, total, discountValue, subTotal}">
<div>
<table class="table">
    <thead>
        <tr>
            <th width="5%">#</th>
            <th width="50%">{{ 'invoice.item.designation'|trans}}</th>
            <th>{{ 'invoice.item.quantity'|trans}}</th>
            <th>{{ 'invoice.item.amount_et'|trans}}</th>
            <th>{{ 'invoice.item.total'|trans}}</th>
            <th width="5%"></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(item, index) in items" :key="index">
            <th scope="#">${index + 1}</th>
            <td><textarea class="form-control" v-model.trim="item.designation" placeholder="{{ 'invoice.item.designation'|trans}}"></textarea></td>
            <td><input type="number" class="form-control no-spin" v-model.number="item.quantity"/></td>
            <td><input type="number" step="0.01" class="form-control no-spin" v-model="item.amountET"/></td>
            <td><div class="pt-2">${ $filters.toFixed((item.amountET * item.quantity), 2)}€</div></td>
            <td><button type="button" class="btn btn-sm btn-danger" v-on:click="removeItem(index)">{{ '.icon-trash'|parse_icons }}</button></td>
        </tr>
    </tbody>
</table>
<div class="mt-4 row">
    <div class="col-4">
        <button type="button" class="btn btn-sm btn-success" v-on:click='addItem()'>{{ '.icon-plus'|parse_icons }} {{ 'invoice.add_line'|trans }}</button>
        <hr/>
        {{ form_row(form.message) }}
    </div>
    <div class="col-3">
    </div>
    <div class="col-4 text-right">
        <b>{{ 'invoice.sub_total'|trans }}</b><br/>
        <div class="row">
            <div class="col-4">
                {{ 'invoice.discount'|trans }}
            </div>
            <div class="col-5">
                {{ form_widget(form.discountType, {'attr' : {'v-model' : 'discountType', 'class' : 'form-control-sm'}}) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.discount, {'attr': {'v-model.number':'discount', 'class' : 'form-control-sm no-spin'}}) }}
            </div>
        </div>
        <hr/>
        <b class="lead">{{ 'invoice.total'|trans }}</b>
    </div>
    <div class="col-1 text-right">
        ${ $filters.toFixed(subTotal, 2) }€<br/>
        <div class="mt-2">${ $filters.toFixed(discountValue, 2) * (-1) }€</div>
        <hr/>
        <span class="lead">${ $filters.toFixed(total, 2) }€</span>
    </div>
</div>
{{ form_widget(form.items, {'value':'${getJson()}'}) }}
</div>
</tigris-invoice-editor>