<div class="row">
    <div class="col-lg-3">
    {{ form_row(form.name) }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.billingAddress, {'attr' :{'rows': 3}}) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.date) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.number) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.vendorAddress, {'attr' :{'rows': 3}}) }}
    </div>

</div>
{% include '@TigrisInvoice/admin/invoice/_editor.html.twig' %}