{% extends '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ 'invoice.list'|trans }}{% endblock %}
{% block main %}
<tigris-data-list route="tigris_invoice_admin_invoice_data" :init-filters="{status: '', paymentStatus:'', user:''}" v-slot="{loadData, entities, filters, totalCount, begin, end, sort, selectItem, selectAll}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
    <button-action v-on:formsaved="loadData()" route="tigris_invoice_admin_invoice_new" :route-params="{}" type="success" :modal="false">
        <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'invoice.add.add'|trans }}
    </button-action>
    {% endblock %}
    {% block body %}
    <form method="get" class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="form-group ms-2">
                <label class="form-label"><small>{{ 'invoice.payment_status'|trans }}</small></label>
                <select class="form-control" v-model="filters.paymentStatus">
                    <option value="">{{ 'invoice.status.all'|trans }}</option>
                    <option value="awaiting_payment">{{ 'invoice.status.awaiting_payment'|trans|parse_icons }}</option>
                    <option value="paid">{{ 'invoice.status.paid'|trans|parse_icons }}</option>
                </select>
            </div>

            <div class="form-group ms-2">
                <label for="filter-user" class="form-label"><small>{{ 'user.user'|trans }}</small></label>
                <select id="filter-user" class="form-control selectpicker" v-model="filters.user">
                    <option value="">{{ 'user.all'|trans }}</option>
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </form>
    
    {% endblock %}
    {% block table %}
        <table class="table table-striped">
            <thead>
                <tr>
                    {#<th>
                        <input type="checkbox" class="toggle" id="select-all" v-on:change="selectAll()">
                    </th>#}
                    <th><sort-item label="{{ 'invoice.name'|trans }}" value="name" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'invoice.number'|trans }}" value="number" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'invoice.date'|trans }}" value="createdAt" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'invoice.payment_status'|trans }}" value="paymentStatus" v-on:change="sort"></sort-item></th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entity in entities" :key="entity.id">
                    {#<td>
                        <div class="form-check custom-control-inline m-0 form-check">
                            <input type="checkbox" class="form-check-input form-check-input select-item" :id="'select-product-' + entity.id" v-model="selectedItems" @change="(e) => { selectItem(entity.id, e.target.checked) }" :value="entity.id">
                            <label class="form-check-label form-check-label" :for="'select-product-' + entity.id"> </label>
                        </div>
                    </td>#}
                    <td>${entity.name}</td>
                    <td>${entity.numberStr}</td>
                    <td>${$filters.formatDate(entity.createdAt)}</td>
                    <td v-if="entity.paymentStatus == 'paid'" class="text-bg-success">{{ 'invoice.status.paid'|trans|parse_icons }}</td>
                    <td v-else class="text-bg-warning">{{ 'invoice.status.awaiting_payment'|trans|parse_icons }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action v-on:formsaved="loadData()" v-if="!entity.isLocked" route="tigris_invoice_admin_invoice_edit" :route-params="{id:entity.id}" type="secondary">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_invoice_invoice_show" :route-params="{id:entity.id}" type="info">{{ '.icon-eye'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
    {% block footer %}
    <div class="data-list-footer">
        <div><em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em></div>
        <pagination></pagination>
    </div>
    {% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}