{% extends app.request.xmlHttpRequest 
         ? '@TigrisBase/admin/ajax-layout.html.twig'
         : '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'invoice.add.add'|trans }}{% endblock %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block body %}
            {% include '@TigrisInvoice/admin/invoice/_form.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}