{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed "@TigrisBase/decorators/_card.html.twig" %}
        {% block header %}
            <div class="d-flex justify-content-between">
                <div>
                {{ entity.name }}
                </div>
                <div>
                {{ entity.numberStr }}
                </div>
            </div>
        {% endblock %}

        {% block body %}
            <div>{{ entity.createdAt|format_datetime('full', 'short') }}</div>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    {{ entity.vendorAddress|raw }}
                </div>
                <div>
                    {{ entity.billingAddress|raw }}
                </div>
                
            </div>
            <hr/>

            <h2>{{ 'invoice.details'|trans }}</h2>
            {{ 'invoice.number'|trans }}: {{ entity.numberStr }}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'invoice.item.designation'|trans }}</th>
                        <th>{{ 'invoice.item.amount_et'|trans }}</th>
                        <th>{{ 'invoice.item.tax'|trans }}</th>
                        <th>{{ 'invoice.item.amount_it'|trans }}</th>
                        <th>{{ 'invoice.item.quantity'|trans }}</th>
                        <th>{{ 'invoice.item.total'|trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in entity.items %}
                    <tr>
                        <td>{{ item.designation }}</td>
                        <td>{{ item.amountET|format_currency('EUR') }}</td>
                        <td>{% if item.taxes is defined %}{% for name, tax in item.taxes %}
                        {{ name }} {{ tax }}%<br/>
                        {% endfor %}{% endif %}
                        </td>
                        <td>
                        {% if item.amountIT is defined %}
                        {{ item.amountIT|format_currency('EUR') }}
                        {% else %}
                        {{ item.amountET|format_currency('EUR') }}
                        {% endif %}
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>
                        {% if item.amountIT is defined %}
                        {{ (item.quantity * item.amountIT)|format_currency('EUR') }}
                        {% else %}
                        {{ (item.quantity * item.amountET)|format_currency('EUR') }}
                        {% endif %}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-right">{{ 'invoice.totalET'|trans }}</td>
                        <td><strong>{{ entity.amountET|format_currency('EUR') }}</strong></td>
                    </tr>
                    {% for name, value in entity.taxAmount %}
                    <tr>
                        <td colspan="5" class="text-right">{{ name }}</td>
                        <td>
                            {{ value|format_currency('EUR') }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-right"><strong>{{ 'invoice.total'|trans }}</strong></td>
                        <td><strong>{{ entity.amountIT|format_currency('EUR') }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{{ path('tigris_invoice_admin_invoice_show', {'id': entity.id, '_format': 'pdf'}) }}" class="btn btn-primary btn-print">{{ 'button.print'|trans|parse_icons }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}