{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
<h1>{{ 'invoice_model.list'|trans }}</h1>
<tigris-data-list route="tigris_invoice_admin_model_list" :init-filters='{}' v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
    <button-action v-on:formsaved="loadData()" route="tigris_invoice_admin_model_new" :route-params="{}" type="success">
        <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'invoice_model.add.add'|trans }}
    </button-action>
    {% endblock %}
    {% block body %}
    <div class="float-right">
        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </div>
    {% endblock %}
    {% block table %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><sort-item label="{{ 'invoice_model.name'|trans }}" value="name" v-on:change="sort"></sort-item></th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entity in entities" :key="entity.id">
                    <td>${entity.name}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action v-on:formsaved="loadData()" route="tigris_invoice_admin_model_edit" :route-params="{id:entity.id}" type="secondary">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
    {% block footer %}
    <div class="float-left"><em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em></div>
    <pagination></pagination>
    {% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}